
@{
    ViewData["Title"] = "Store";
}

<div class="row" style="margin-top:1em">
    <div class="col-sm-2">
        <div class="list-group" id="manufacturerList">
            <a href="#" class="list-group-item active" onclick="loadAllItems(); manufactorerButtonToggle(this); return false">All Items</a>

        </div>
    </div>
    <div class="col-sm-10">
        <center>

            <input type="text" id="prodId" size="28" placeholder="Enter product search here" />
            <a class="btn btn-success" onclick="filterItems(name)">Search</a> <br />

        </center>
        <div>
            <fieldset style="background-color:lavenderblush">
                <legend>Filter by price you want </legend>
                From <input type="number" id="minPrice" placeholder="min price" style="width:8em" />
                to <input type="number" id="maxPrice" placeholder="max price" style="width:8em" />
                <a class="btn btn-success" onclick="filterPrice(minPrice,maxPrice)">Filter</a> <br />
            </fieldset>

        </div>
        <br />
        <label id="result"> </label><br />
        <div class="row" id="ItemsList">
        </div>
    </div>
</div>






@section Scripts{ 
<script src="~/js/ShoppingCart.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        loadAllItems();
        loadManufacturerList();
    });

    function loadManufacturerList() {
        var options = {};
        options.url = "http://localhost:49403/api/manufacturers";
        options.type = "GET";
        options.dataType = "json";
        options.success = function (data) {
            data.forEach(function (element) {
                $("#manufacturerList").append('<a href="#" class="list-group-item" onclick="loadByManufacturerID('+element.manufacturerID+', this); return false">'+element.name+'</a>');
            });
        };
        options.error = function () {
            console.log("Error while calling the Web API!");
        };
        $.ajax(options);
    };
    function manufactorerButtonToggle(button) {
        $(".list-group").children().removeClass("active");
        $(button).addClass("active");
    };

    function loadAllItems() {
        $("#ItemsList").empty();
        var item = {};
        item.url = "http://localhost:49403/api/items";
        item.type = "GET";
        item.dataType = "json";
        item.success = function (data) {
            if (!$.trim(data)) {
                $("#ItemsList").append('<h4>No items found.</h4>');
            }
            else {
                data.forEach(function (element) {
                    $("#ItemsList").append('<div class="col-sm-6 col-md-3"> <div class="thumbnail"> <img src="' + element.image + '" alt="No Image"> <div class="caption text-center"> <h3>' + element.name + '</h3> <p style="color:green;font-size:small">' + element.price + ' USD</p> <p><a href="/items/details/' + element.itemID + '" class="btn btn-primary" role="button">Details</a> <button class="btn btn-success" onclick="cart.increaseItemByQuantity(' + element.itemID + ',\'' + element.name + '\',' + element.price + ',1)">Add to Cart</button></p></div></div></div>');
                });
            }
        };
        item.error = function () {
            console.log("Error while calling the Web API!");
        };
        $.ajax(item);
    };

    function loadByManufacturerID(id, button,e) {
        manufactorerButtonToggle(button);
        $("#ItemsList").empty();
        var item = {};
        item.url = "http://localhost:49403/api/items?brandid=" +id;
        item.type = "GET";
        item.dataType = "json";
        item.success = function (data) {
            if (!$.trim(data)) {
                $("#ItemsList").append('<h4>No items found.</h4>');
            }
            else {
                data.forEach(function (element) {
                    $("#ItemsList").append('<div class="col-sm-6 col-md-3"> <div class="thumbnail"> <img src="' + element.image + '" alt="No Image"> <div class="caption text-center"> <h3>' + element.name + '</h3> <p style="color:green;font-size:small">' + element.price + ' USD</p> <p><a href="/items/details/' + element.itemID + '" class="btn btn-primary" role="button">Details</a> <button class="btn btn-success" onclick="cart.increaseItemByQuantity(' + element.itemID + ',\'' + element.name + '\',' + element.price + ',1)">Add to Cart</button></p></div></div></div>');
                });
            }
        };
        item.error = function () {
            $("#msg").html("Error while calling the Web API!");
        };
        $.ajax(item);
    };

    function filterItems(name) {
        name = $('#prodId').val();
        $("#ItemsList").empty();
        var item = {};
        item.url = "http://localhost:49403/api/items?name="+name;
        item.type = "GET";
        item.dataType = "json";
        item.success = function (data) {
            if (!$.trim(data)) {
                $("#ItemsList").append('<h4>No items found.</h4>');
            }
            else {
                data.forEach(function (element) {
                    $("#ItemsList").append('<div class="col-sm-6 col-md-3"> <div class="thumbnail"> <img src="' + element.image + '" alt="No Image"> <div class="caption text-center"> <h3>' + element.name + '</h3> <p style="color:green;font-size:small">' + element.price + ' USD</p> <p><a href="/items/details/' + element.itemID + '" class="btn btn-primary" role="button">Details</a> <button class="btn btn-success" onclick="cart.increaseItemByQuantity(' + element.itemID + ',\'' + element.name + '\',' + element.price + ',1)">Add to Cart</button></p></div></div></div>');
                });
            }
        };
        item.error = function () {
            $("#msg").html("Error while calling the Web API!");
        };
        $.ajax(item);

    };

    function filterPrice(minPrice, maxPrice) {
        minPrice = $('#minPrice').val();
        maxPrice = $('#maxPrice').val();

        $("#result").empty();
        $("#ItemsList").empty();
        var item = {};
        item.url = "http://localhost:49403/api/items?" + "minPrice=" + minPrice + "&maxPrice=" + maxPrice;
        item.type = "GET";
        item.dataType = "json";
        item.success = function (data) {
            if (!$.trim(data)) {
                $("#ItemsList").append('<div class="alert alert-danger" role="alert" style="font-size:small;width:100%">No items found!</div>');
            }
            else {
                data.forEach(function (element) {
                    $("#ItemsList").append('<div class="col-sm-6 col-md-3"> <div class="thumbnail"> <img src="' + element.image + '" alt="No Image"> <div class="caption text-center"> <h3>' + element.name + '</h3> <p style="color:green;font-size:small">' + element.price + ' USD</p> <p><a href="/items/details/' + element.itemID + '" class="btn btn-primary" role="button">Details</a> <button class="btn btn-success" onclick="cart.increaseItemByQuantity(' + element.itemID + ',\'' + element.name + '\',' + element.price + ',1)">Add to Cart</button></p></div></div></div>');
                });

            }
            dem = data.length;
            $("#result").append("<p/> There are " + dem + " results found!");
        };
        item.error = function () {
            $("#msg").html("Error while calling the Web API!");
        };
        $.ajax(item);

    };
</script>
}


