
@{
    ViewData["Title"] = "Store";
}

<h1>Items</h1>
<div id="ItemsList" class="row">
  
</div>


@section Scripts{ 
<script>
    $(document).ready(function () {
        var options = {};
        options.url = "http://localhost:49403/api/items";
        options.type = "GET";
        options.dataType = "json";
        options.success = function (data) {
            data.forEach(function (element) {
                $("#ItemsList").append('<div class="col-sm-6 col-md-3"> <div class="thumbnail"> <img src="' + element.image + '" alt="No Image"> <div class="caption text-center"> <h3>' + element.name + '<//h3> <p>' + element.price + '<//p> <p><a href="/items/details/' + element.itemID + '" class="btn btn-primary" role="button">Details<//a> <a href="#" class="btn btn-default" role="button">Add to Cart<//a><//p><//div><//div><//div>');
            });
        };
        options.error = function () {
            $("#msg").html("Error while calling the Web API!");
        };
        $.ajax(options);
    });
</script>

}


