@{
    ViewData["Title"] = "About";
}




<h1 style="font-size:large;margin:40px 0px;float:left;width:100%;color:blue">CELL PHONE STORE</h1>

<div style="margin-top:40px">

  <label>Address: 127, Nguyen Chi Thanh Street, Ward 9, District 5, Ho Chi Minh City</label> <br />
        <label>Phone: <a href="tel:0123456789"> 012 345 6789</a></label> <br />
        <label>Fax: 028.12345678</label> <br />
        <label>Email: abc@gmail.com</label> <br />
  
</div>

<nav style="float:right;margin-top:0em">
    <div style="text-align:center">
            <h3 style="color:blue">FACEBOOK</h3>
            <iframe src="//www.facebook.com/plugins/likebox.php?href=https://www.facebook.com/thecellphone/?fref=ts" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:290px; height:260px;" allowtransparency="true" ;></iframe>
        </div>

    <div>
            <div style="text-align:center">
                <h3 style="color:blue">CUSTOMER SUPPORT</h3>
                <strong style="color:black; font-style: italic; font-size:22px;">Mr. Siro</strong><br />
                <a href="tel:01223579554"><img border=0 src="~/Content/images/support_online.png" title="Call to Mr. Siro" alt="Cell Phone Store online" /></a><br />
            </div>
            <div style="text-align:left">
                <label style="color: green; text-align:left">Contact: <a href="tel:01223579554" style="color:green"> 0122 123 456</a> (Mr. Siro)</label> <br />
                <label style="color: green; text-align:left">Email: abc123@yahoo.com.vn</label>
                <p/><br />
            </div>

        </div>
   
</nav>
<div>
 
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31357.38245304109!2d106.65210253955077!3d10.759680199999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ee4979d2bf1%3A0x57da94e168622ed1!2s127+Mobile+Phone+Shop!5e0!3m2!1svi!2s!4v1510302431974" width="640" height="480" frameborder="0"  style="text-align:center" allowfullscreen></iframe>
    <h4 style="margin:20px 0px">Bản đồ liên hệ</h4>
</div>
