
@{
    ViewData["Title"] = "CreateItem";
}

<h2>CreateItem</h2>

<form>
    <table class="table table-responsive">
        <tr>
            <td>Name :</td>
            <td>
                <input id="name" type="text" class="form-control" />
            </td>
        </tr>
        <tr>
            <td>Description :</td>
            <td>
                <textarea id="description">
                </textarea>
            </td>
        </tr>
        <tr>
            <td>Logo image :</td>
            <td class="form-inline">
                <input type="text" size="48" name="url" id="url" class="form-control" />
                <a onclick="openPopup()" class="btn btn-primary">Select file</a>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="text-left">
                <a class="btn btn-primary pull-right Rmargin" id="create">Create</a>
                <a class="btn btn-primary pull-right" id="back">Back</a>

            </td>
        </tr>
    </table>
    <br />
    <div id="msg"></div>
</form>


@section Scripts{


    @*<script src="~/lib/ckfinder/ckfinder.js" type="text/javascript"></script>*@
    <script src="~/lib/ckeditor/ckeditor.js" type="text/javascript"></script>
    @*<script>
                   function openPopup() {
                       CKFinder.popup({
                           chooseFiles: true,
                           onInit: function (finder) {
                               finder.on('files:choose', function (evt) {
                                   var file = evt.data.files.first();
                                   document.getElementById('url').value = file.getUrl();
                               });
                               finder.on('file:choose:resizedImage', function (evt) {
                                   document.getElementById('url').value = evt.data.resizedUrl;
                               });
                           }
                       });
                   }
        </script>*@

    <script>

        $(document).ready(function () {

            CKEDITOR.replace('description');

            $("#create").click(function () {
                var options = {};
                options.url = "http://localhost:49403/api/brands";
                options.type = "POST";

                var obj = {};
                obj.name = $("#name").val();
                obj.info = CKEDITOR.instances.description.getData();;
                obj.imageLogo = $("#url").val();

                options.data = JSON.stringify(obj);
                options.contentType = "application/json";
                options.dataType = "html";

                options.success = function (msg) {
                    $("#msg").html(msg);
                };
                options.error = function () {
                    $("#msg").html(msg);
                };
                $.ajax(options);
            });

        });
    </script>
}


