
@{
    ViewData["Title"] = "Index";
}

<h2>Your Cart List</h2>
<div id="cartContent">
    
</div>


@section Scripts{
<script src="~/js/ShoppingCart.js" type="text/javascript"></script>
<script>
    function loadCartList() {
        $('#cartContent').empty();
        if (!cart.data ||cart.data.length === 0) {
            $('#cartContent').append('<div class="alert alert-danger text-center" role="alert" style="font-size:medium">No item in your shopping cart!</div>');
        }
        else {
            $("#cartContent").append('<table id="cartList" class="table table-hover"><tr><th>Name</th><th>Price(each)</th><th>Quantity</th><th></th></tr></table>');
            var total = 0;
            cart.data.forEach(function (element) {
                $("#cartList").append('<tr><td>' + element.name + '</td><td>' + element.price + '</td><td>' + element.quantity + '</td><td><button class="btn btn-danger" onclick="cart.deleteItemByOne(' + element.id + ', loadCartList)">Remove from cart</button></td></tr>');
                total = total + (element.price * element.quantity);
            });

            $("#cartList").append('<tr class="totalprice"><td>Total:</td><td></td><td></td><td>' + total + '</td></tr><tr><td colspan="3"></td><td><a href="/Cart/CheckOut" class="btn btn-primary">Check out</a></td></tr>');            
        };
    }

    loadCartList();
</script>
}

