
@{
    ViewData["Title"] = "Register";
}
<div class="hidden" id="showField">
    <h2>Register</h2>

    <div id="alertArea">

    </div>

    <form class="form-horizontal" id="registerForm">
        <div class="form-group">
            <label for="username" class="col-sm-2 control-label">User name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="username" id="username" placeholder="UserName">
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="email" id="email" placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-8">
                <input type="password" class="form-control" name="password" id="password" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <label for="repeatpassword" class="col-sm-2 control-label">Repeat password</label>
            <div class="col-sm-8">
                <input type="password" class="form-control" name="repeatpassword" id="repeatpassword" placeholder="Password">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                <button type="button" class="btn btn-primary" onclick="Register()">Register</button>
                <button type="button" onclick="window.history.go(-1); return false;" class="btn btn-default">Back</button>
            </div>
        </div>
    </form>

    <div id="registerSuccess" class="modal fade" tabindex="-1" role="dialog">
        <div id="1" class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Registration result</h4>
                </div>
                <div class="modal-body">
                    <p>Account has been created successfully!!!</p>
                    <p>Please log in to your account!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{ 
    <script src="~/lib/jquery-validation/dist/jquery.validate.js" type="text/javascript"></script>
    <script src="~/js/ShoppingCart.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () { 
            if (sessionStorage.getItem("account") === null) {
                $("#showField").removeClass("hidden");
                $("#registerSuccess").on('hidden.bs.modal', function () {
                    window.location.href = "/Account/Login";
                });
            } else {
                window.location.href = "/";
            };
        });
        $("#registerForm").validate({
            errorClass: "text-danger",
            rules: {
                username: {
                    required: true,
                    minlength: 5,
                },
                email: {
                    required: true,
                    email: true
                },
                password: {
                    required: true,
                    minlength: 6,
                },
                repeatpassword: { equalTo: "#password" }
            },
            messages: {
                username: {
                    required: "Username is required",
                    minlength: jQuery.validator.format("Your Username must have at least {0} characters")
                },
                email: {
                    required: "Email is required",
                    email: "Your email address must be in the format of name@domain.com"
                },
                password: {
                    required: "Password is required",
                    minlength: jQuery.validator.format("Your password must have at least {0} characters")
                },
                repeatpassword: {
                    equalTo: "Password does not match"
                }
            }
        });

        function Register() {
            if ($("#registerForm").valid() === true){
                var options = {};
                options.url = "http://localhost:49403/api/Account";
                options.type = "POST";
                var obj = {};
                obj.username = $("#username").val();
                obj.email = $("#email").val();
                obj.password = $("#password").val();
                options.data = JSON.stringify(obj);
                options.contentType = "application/json";
                options.dataType = "html";
                options.crossDomain = true;
                options.xhrFields = {
                    withCredentials: true
                };
                options.success = function () {
                    $("#registerSuccess").modal('toggle');
                };

                options.error = function (e) {
                    $("#alertArea").empty();
                    $("#alertArea").append('<div class="alert alert-danger alert-dismissible fade in" role="alert"><button type= "button" class="close" data-dismiss="alert" aria-label="Close" ><span aria-hidden="true">&times;</span></button><strong>Register failed!!!</strong>' + e.responseText + '</div>');
                };
                $.ajax(options);
            }
        }
        
    </script>
}